@import '../../../../assets/styles/variables';

:host {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &:after {
    position: absolute;
    top: -1rem;
    bottom: 0rem;
    content: '';
    background: white;
    width: 2px;
    z-index: -1;
    opacity: 0.3;
    left: 8.75rem
  }
}

:host:first-of-type:after {
  top: 50%;
}

:host:last-of-type:after {
  bottom: 50%;
}

.timestamp {
  text-align: center;
  opacity: 0.3;
  min-width: 6rem;
  max-width: 6rem;
}

.method {
  color: white;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;

  &.GET {background: $method-get}
  &.POST {background: $method-post}
  &.PUT {background: $method-put}
  &.PATCH {background: $method-patch}
  &.DELETE {background: $method-delete}
  &.OPTIONS {background: $method-options}
  &.HEAD {background: $method-head}

  &:after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
}

/deep/ mat-expansion-panel-header {
  padding-left: 1rem !important;
  background: rgba(0, 0, 0, 0.06) !important;
}

/deep/ mat-panel-title {
  align-items: center;
  height: 3rem;

  & > h3 {
    margin: 0;
  }
}

.indicator {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5rem;

  &.success {
    background: mediumseagreen;
  }

  &.warn {
    background: goldenrod;
  }

  &.fail {
    background: indianred;
  }
}

.status {
  font-size: 0.8rem;
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
