$primary-color: rgb(255, 152, 0);
$accent-color: #fec007;

$text-primary: #fff;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-muted: rgba(255, 255, 255, 0.4);

$method-get: rgb(175, 161, 249);
$method-post: rgb(151, 209, 78);
$method-put: rgb(250, 162, 54);
$method-patch: rgb(233, 218, 100);
$method-delete: rgb(252, 105, 90);
$method-options: rgb(86, 198, 229);
$method-head: rgb(86, 200, 231);
